<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Date in a Box</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap-modal" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div>
<div class="top">
  <div class="inside">
  <%= image_tag "" %>
  </div>
</div>
<div class="body">
  <%= image_tag "" %>
  <%= image_tag "" %>
  <%= image_tag "" %>
</div>
</div>
</body>